<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="https://unpkg.com/react/umd/react.production.min.js" crossorigin></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
        integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous" />
    <title>Django REST with React</title>
</head>

<body>
    <div class="container" id="root">
        <!-- React will load here -->
    </div>
</body>
{% load static %}
<script src={% static "frontend/main.js" %}></script>

</html>